* {
    margin: 0px;
    padding: 0px;
  }
  
  body{
    margin:0;
    height:100vh;
  }
  
  .component {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );    /*background-image: url('/static/images/convertkit-9i3-OAIUHdY-unsplash.jpg');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .header {
    display:flex;
    flex-direction: center;
    width:100%;
    height:12%;
  }
  .title {
    width:auto;
    display: flex;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: bolder;
    align-items:center;
    margin: 5% 6%;
  }
  .maps {
    width:100%;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 16px;
    align-items:center;
    margin-right: 15px;
    cursor: pointer;
  }
  .maps p {
    margin-right: 3px;
  }
  
  .actually_location{
    display: flex;
    align-items: center;
  }
  .actually_location span {
    font-size: 25px;
  }
  .maps_options {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    text-shadow: none;
  }
  .title_maps{
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 23px;
    font-family: 'Poppins';
    height: 12%;
    justify-content: center;
    margin-left: 20px;
  }
  .options {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 10px 20px;
    overflow: auto;
    height: 80%;
  }
  .options li {
    margin: 0px 0px 20px 0px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
    color: gray;
    font-family: 'Poppins';
    cursor: pointer;
    border-bottom: 1px solid rgb(0, 0, 0, .3);
    list-style: none;
  }
  .alert_location {
    display: none;
    background-color: red;
    color: white;
    position: absolute;
    right:20px;
    top: 65px;
    font-family: 'Poppins';
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
  }
  .alert_location span {
    color: red;
    position: absolute;
    top: -28px;
    right: 0px;
    font-size: 50px;
    text-shadow: none;
  }
  
  /* SUB COMPONENT */
  
  .subcomponent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 78%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .description {
    text-decoration: dashed;
    color: white;
    font-family: 'Poppins';
    width: 80%;
    margin-bottom: 30px;
  }
  .description h3 {
    font-size: 26px;
  }
  .description .slogan {
    margin-top: 10px;
    font-size: 20px;
  }
  .category{
    width: 70%;
    height:auto;
    cursor: pointer;
    margin-bottom: 100px;
  }
  .category p {
    width: 90%;
    padding:5%;
    text-align: left;
    background-color: white;
    border: none;
    font-family: 'Poppins';
    font-size: 14px;
    color: rgb(0, 0, 0, .85);
  }
  input:hover{
    border: none;
  }
  input:focus{
    border: none;
    outline: none;
  }
  
  
  /* SEARCH WINDOW */
  .search {
    display: none;
    flex-direction:column;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
  }
  .search_text{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
  }
  .search_text input {
    width: 80%;
    padding: 5%;
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    background-color: whitesmoke;
  }
  .search_text span {
    width: 10%;
    margin: auto;
  }
  
  .search .list {
    display:block;
    position: absolute;
    z-index: 1;
    flex-direction:column;
    margin: auto;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    width: 100%;
    text-align:left;
    top: 81px;
  }
  .list li {
    display: none;
    height: 30px;
    font-family:'Poppins';
    font-size: 14sp;
    padding:10px;
    align-items: center;
    background-color: white;
    cursor:pointer;
    border-bottom: 1px solid black;
  }
  .list li a {
    text-decoration: none;
    color: black;
  }
  
  /* RECOMMENDATIONS */
  .recommendations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px auto 0 auto;
    width: 95%;
    grid-gap: 20px;
  }
  .recommendation{
    position: relative;
    width: 100%;
    height: 120px;
    filter: brightness(.8);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .recommendation p {
    display: flex;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 10px;
    color: white;
    text-shadow: 1px 1px 4px black;
    text-decoration: none;
  }
  /* FOOTER */
  
  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
  }
  .footer p{
    font-size: 14px;
    margin-left: 10px;
    font-family: 'Poppins';
  }
  
  
  @media screen and (min-width: 1000px){
    .header {
      height: auto;
    }
    .title {
      font-size: 22px;
      padding: 20px;
    }
    .title span {
      font-size: 30px;
    }
    .maps {
      font-size: 17px;
      padding: 20px;
    }
    .alert_location {
      top: 60px;
      font-size: 16px;
    }
    .alert_location span {
      top: -27px;
    }
    .description {
      font-size: 18px;
    }
    .category p {
      width: 50%;
      padding:3%;
      margin: auto;
      font-size: 16px;
    }
    .search_text{
      width: 50%;
      height: 100px;
      margin: 0 auto;
    }
    .search_text input {
      width: 85%;
      padding: 0 4%;
      font-size: 18px;
    }
    .search_text span {
      width: 5%;
      margin: auto;
      font-size: 30px;
    }
    
    .search .list {
      display: flex;
      flex-direction: column;
      width: 50%;
      left: 0;
      right: 0;
      top: 101px;
    }
    .recommendations{
      width: 50%;
    }
    .recommendation p {
      font-size: 16px;
    }
    .footer {
      height: 10%;
    }
    .footer p{
      font-size: 16px;
    }
  }
  