* {
    margin:0;
    padding:0;
  }
  body {
    background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 16.2%, rgba(28,103,88,1) 91.1% );
  }
  .component{
    /*background-image: url('/static/images/rafael-atantya-ZFI1Gz72bx4-unsplash.jpg');*/
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 20px;
  }
  
  .init {
    display:flex;
    flex-direction: row;
    width: 90%;
    padding: 15px 10px 10px 10px;
    margin: auto;
    align-items: center;
    font-family: 'Poppins';
    font-size: 14px;
    cursor: pointer;
  }
  .init a {
    color:white;
    /*color: rgb(39, 39, 39);*/
  }
  .init p {
    margin-left: 3px;
    font-weight: bold;
  }
  .back_init {
    font-family: sans-serif;
    font-weight: bold;
    margin: auto 5px;
  }
  
  .title {
    font-size: 21px;
    color:white;
    /*color: rgb(39, 39, 39);*/
    width: 90%;
    font-family: 'Poppins';
    margin: auto;
    margin-top: 10px;
  }

  /* filter */
  .filters {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .filter{
    width: auto;
    display: flex;
    flex-direction: row;
    font-family: 'Belanosima';
    color: white;
  }
  select::-ms-expand {
    display: none;
  }
  .filter select {
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: 5px;
    font-size: 17px;
    font-family: 'Belanosima';
    cursor: pointer;
    color: white;
  }
  .filter select:focus{
    outline: none;
  }
  .filter p{
    font-size: 17px;
  }
  /* services */
  .service{
    display: flex;
    flex-direction: row;
    width: 82%;
    margin: auto;
    align-items: center;
    cursor: pointer;
    color: black;
    background-color: white;
    padding: 0 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, .4);
  }
  .rating {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .rating p{
    display: flex;
    margin-left: 2px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }
  .rating span {
    display: flex;
    color: darkorange;
    font-size: 18px;
  }
  .service img {
    width: 100px;
    height: 80px;
    border-radius: 10px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 15px;
    justify-content: center;
    font-family: 'Poppins';
  }
  .info .title_service {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .info .location_service {
    font-size: 15px;
  }
  
  
  @media screen and (min-width: 1000px){
    .component{
      margin: auto;
      width: 50%;
    }
    .init a {
      font-size: 17px;
    }
    .init span {
      font-size: 30px;
    }
    .title {
      font-size: 24px;
    }
  }