*{
    margin: 0;
    padding: 0;
}
.service {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.image {
    width: 100%;
}
.image img {
    width: 100%;
}
.image span {
    position: fixed;
    top: 15px;
    left: 20px;
    color: white;
    font-size: 28px;
    text-shadow: 1px 1px 4px black;
}

.info {
    padding: 15px;
    font-family: 'Poppins';
}
.first {
    display: flex;
}
.first .title_service {
    width: 85%;
    font-size: 21px;
    font-weight: bold;
}
.rating {
    width: 15%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.rating p{
    display: flex;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    
}
.rating span {
    display: flex;
    color: darkorange;
    font-size: 24px;
}
.info .location_service {
    font-size: 17px;
    margin-bottom: 10px;
}

.schedules, .contacts, .info_owner {
    border-bottom: 1px solid rgb(0, 0, 0, .5);
    padding: 20px 0px 15px 0;
}
.schedules {
    padding: 5px 0 15px 0;
}
.schedule_title, .contact_title, .owner_title, .galery_title {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}

.galery {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 15px;
    font-family: 'Poppins';
    padding-bottom: 60px;
}
.pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 10px;
    margin-top: 10px;
}
.pics img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
}