*{
    margin: 0;
    padding: 0;
}
.service {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.image {
    width: 100%;
}
.image img {
    width: 100%;
}
.image span {
    position: fixed;
    top: 15px;
    left: 20px;
    color: white;
    font-size: 28px;
    text-shadow: 1px 1px 4px black;
}

.info {
    padding: 15px;
    font-family: 'Poppins';
}
.first {
    display: flex;
}
.first .title_service {
    width: 85%;
    font-size: 21px;
    font-weight: bold;
}
.rating {
    width: 15%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.rating p{
    display: flex;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    
}
.rating span {
    display: flex;
    color: darkorange;
    font-size: 24px;
}
.info .location_service {
    font-size: 17px;
    margin-bottom: 10px;
}

.schedules, .contacts, .info_owner {
    border-bottom: 1px solid rgb(0, 0, 0, .5);
    padding: 5px 0px;
}
.schedules .schedule_title, .contacts .contact_title, .info_owner .owner_title {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}